.DS_Store
__pycache__/
*.pyc
*.ipynb_checkpoints
.env
*.env
*.log
*.egg-info/
.vscode/
# Ignore IDE settings
.idea/
# LaTeX intermediate files: ignore everything in tex except .tex and .pdf
/tex/*
!/tex/*.tex
!/tex/*.pdf